{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站|登录
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/sign-in.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">登录</h4>
                    </div>
                    <div class="card-body">
                        <div class="text-center"><img class="mb-4" src="/static/img/box.svg" alt="" width="72"
                                                      height="57">
                        </div>
                        <form action="#" method="post">
                            {% for field in login_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                            <div class="clearfix"></div>
                            <a href="{% url 'forgot_password' %}" style="float: left">忘记密码</a>
                            <p style="float: right">没有账号？现在<a href="{% url 'register' %}">注册</a></p>
                            <input class="w-100 btn btn-lg btn-primary" type="submit" value="登录">
                            <p class="mt-5 mb-3 text-muted text-center">&copy; EL PSY CONGROO</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
{% endblock %}
